<div>
    <h1>Interpolation Data Binding</h1>
    <span>O valor da variavel X é: {{x}} </span>
    <br/><br/>
    <span>O Array de númemros é composto pelos seguintes valores: {{umArray}}</span>
    <br/><br/>
    <span> A Data de Hoje é: {{datahoje}}</span>
    <br/><br/>
    <span>O Status Booleano indicado na variável é: {{statusBooleano}}</span>
    <br/><br/>
    <span>{{statusBooleano? "Este é o texto para o Status True" : "Este é o texto para o Status False!"}}</span>
    <br/><br/>
    <span>{{exibirtexto()}}</span>
</div>