<div>
    <nav>
        <a routerLink="/interpolation">Interpolação</a>
        <a routerLink="/property-binding">Property Binding</a>
        <a routerLink="/event-binding">Event Binding</a>
        <a routerLink="/two-way">Two Way DataBinding</a>
        <a routerLink="/pai">Input Property</a>
        <a routerLink="/output-pai">Output Property</a>
        <a routerLink="/ng-if">Diretiva ngIf</a>
        <a routerLink="/ng-for">Diretiva ngFor</a>
        <a routerLink="/ng-class">Diretiva ngClass</a>
        <a routerLink="/ng-style">Diretiva ngStyle</a>
        <a routerLink="/pipe">Pipes</a>
        <a routerLink="/form-template">Template Driven Form</a>
        <a routerLink="/form-model">Model Driven Form</a>
    </nav>
    <div>
        <h1 appAlterarTexto></h1>
    </div>
</div>
<router-outlet></router-outlet>
